cross_macos_machine:
  - x86_64-apple-darwin13.4.0
  - arm64-apple-darwin20.0.0
cross_platform:
  - osx-64
  - osx-arm64
c_compiler:             # [osx]
  - clang_bootstrap     # [osx]
cxx_compiler:           # [osx]
  - clang_bootstrap     # [osx]

llvm_version:
  - 22.1
  - 21.1
  - 20.1
  - 19.1

# zip it to avoid using rc-builds for already-released-in-conda-forge LLVM versions
channel_sources:
  - conda-forge,conda-forge/label/llvm_rc
  - conda-forge
  - conda-forge
  - conda-forge

channel_targets:
  - conda-forge llvm_rc
  - conda-forge main
  - conda-forge main
  - conda-forge main

zip_keys:
  -
    - cross_macos_machine
    - cross_platform
  -
    - llvm_version
    - channel_sources
    - channel_targets
