macos_machine:
  - x86_64-apple-darwin13.4.0
  - arm64-apple-darwin20.0.0
cross_platform:
  - osx-64
  - osx-arm64
uname_machine:
  - x86_64
  - arm64

c_compiler:             # [osx]
  - clang_bootstrap     # [osx]
cxx_compiler:           # [osx]
  - clang_bootstrap     # [osx]
# c_compiler_version:     # [osx]
#   - "*"                 # [osx]
# cxx_compiler_version:   # [osx]
#   - "*"                 # [osx]
# clang 16+ is not compatible with MacOS 10.9 anymore; stay on 15 for existing builds.
# this effectively means building everything with clang 15, because we cannot mix
# {c,cxx}_compiler_version into another zip.
c_compiler_version:         # [osx]
  - 15                      # [osx]
cxx_compiler_version:       # [osx]
  - 15                      # [osx]

llvm_version:
  - 16.0
  - 17.0
  - 18.1

zip_keys:
  -
    - macos_machine
    - cross_platform
    - uname_machine
