macos_machine:
  - x86_64-apple-darwin13.4.0
  - arm64-apple-darwin20.0.0
MACOSX_SDK_VERSION:  # [osx and x86_64]
  - 10.13            # [osx and x86_64]
cross_platform:
  - osx-64
  - osx-arm64
uname_machine:
  - x86_64
  - arm64
zip_keys:
  - - macos_machine
    - cross_platform
    - uname_machine

c_compiler:
  - clang_bootstrap  # [osx]
  - gcc              # [linux]
cxx_compiler:
  - clang_bootstrap  # [osx]
  - gxx              # [linux]

c_compiler_version:     # [osx]
  - "*"                 # [osx]
cxx_compiler_version:   # [osx]
  - "*"                 # [osx]

llvm_version:
  - 11.1.0
  - 12.0.1
  - 13.0.1

channel_targets:
  - conda-forge llvm_rc
channel_sources:
  - conda-forge/label/llvm_rc,conda-forge
